@model TMSWebTest.Models.CompanyInfo

@{
    ViewBag.Title = "Company Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LeftPanelContent {
    @Html.Partial("~/Views/LeftPanel/LeftPanelPartial.cshtml")
}


<h2>Show</h2>


<div id="ResizedDiv" style="width: 100%">
    @using (Html.BeginForm())
    {
        @Html.DevExpress().FormLayout(settings =>
   {
       settings.Name = "FormLayout";
       settings.Width = Unit.Percentage(100);
 
     
       var groupItem = settings.Items.AddGroupItem(groupSettings =>
       {
           groupSettings.Caption = "Company Info";
           groupSettings.Width = Unit.Percentage(100);
           groupSettings.ColumnCount = 3;
       });
       groupItem.GridSettings.StretchLastItem = DefaultBoolean.True;
       groupItem.GridSettings.WrapCaptionAtWidth = 660;
       groupItem.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { Name = "S", ColumnCount = 1, MaxWidth = 500 });
       groupItem.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { Name = "M", ColumnCount = 2, MaxWidth = 800 });
       groupItem.Items.Add(settings.Items.Add(i => i.CompanyName));



       groupItem.Items.Add(settings.Items.Add(i => i.Branch));
       groupItem.Items.Add(settings.Items.Add(i => i.City));
       groupItem.Items.Add(settings.Items.Add(i => i.Country));
       groupItem.Items.Add(settings.Items.Add(i => i.Email));
       groupItem.Items.Add(settings.Items.Add(i => i.Website));
       groupItem.Items.Add(settings.Items.Add(i => i.Mobile));
       groupItem.Items.Add(settings.Items.Add(i => i.VAT_ID_NIP));
       groupItem.Items.Add(settings.Items.Add(i => i.AccountId));
       groupItem.Items.Add(settings.Items.Add(i => i.Address, item =>
       {
           item.NestedExtension().Memo(s => { s.Name = "Memo"; });
           item.ColumnSpan = 2;
       }));
       groupItem.Items.Add(b => { b.Caption = " "; });


       groupItem.Items.Add(b => { b.Caption = " "; });


       groupItem.Items.Add(m => m.Logo, item =>
       {
           item.FieldName = "PhotoData";
           item.Caption = " ";
           item.NestedExtensionType = FormLayoutNestedExtensionItemType.BinaryImage;
           var imgProp = item.NestedExtensionSettings as BinaryImageEditSettings;
           imgProp.Height = 200;
           imgProp.Width = 200;
           item.ColumnSpan = 1;
           item.RowSpan = 1;
       });

       groupItem.Items.Add(b => { b.Caption = " "; });
       groupItem.Items.Add(b => { b.Caption = " "; });



       groupItem.Items.Add(b =>
       {
           // b.RowSpan = 1;
           // b.ColumnSpan = 1;
           b.Caption = " ";
           b.ShowCaption = DefaultBoolean.False;
           b.HorizontalAlign = FormLayoutHorizontalAlign.Right;
           b.NestedExtension().Button(s =>
           {
               s.Name = "btn_Apply"; s.Text = "Apply"; s.UseSubmitBehavior = true;

           });
       });



       //settings.Items.Add(itemSettings =>
       //{
       //    itemSettings.ShowCaption = DefaultBoolean.False;
       //    itemSettings.HorizontalAlign = FormLayoutHorizontalAlign.Right;
       //    itemSettings.SetNestedContent(() =>
       //    {
       //        Html.DevExpress().Button(btnSettings =>
       //        {
       //            btnSettings.Name = "btnUpdate";
       //            btnSettings.Text = "Send";
       //            btnSettings.ControlStyle.CssClass = "flButton";
       //            btnSettings.UseSubmitBehavior = true;
       //        }).Render();
       //        Html.DevExpress().Button(btnSettings =>
       //        {
       //            btnSettings.Name = "btnClear";
       //            btnSettings.Text = "Clear";
       //            btnSettings.ControlStyle.CssClass = "flButton";
       //            btnSettings.ClientSideEvents.Click = "function(s, e){ ASPxClientEdit.ClearEditorsInContainer(); }";
       //        }).Render();
       //    });
       //});




   }).GetHtml()

    }
    @*<div class="apply-button-container">
            @Html.DevExpress().Button(s => {
            s.Name = "ApplyButton";
            s.Text = "Apply Changes";
            s.UseSubmitBehavior = true;
        }).GetHtml()
        </div>*@


    @Html.DevExpress().Hint(settings => {
            settings.Name = "Hint";
        }).GetHtml()
    <script src="../Scripts/AdaptiveGridLayout.js" type="text/javascript"></script>
</div>


